/* Logo */

/* Site nav, main-nav */

/* Info */

/* Hero */

/* Button */

/* button in porfolio */

/* скрыли пустой заголовок в портфолио */

/* Feature-list  Studio*/

/* Job */

/* .feature-list__icon--second {
  width: 70px;
  height: 70px;
}

.feature-list__icon--third {
  width: 70px;
  height: 70px;
}
.feature-list__icon--fourth {
  width: 70px;
  height: 70px;
} */

/* Job, caption, studio */

/* Work list portfolio */

/* Comand */

/* Social links in comand */

/* Client */

/* Portfolio footer  и остальное скопируй с футерв html*/

/* Footer */

/* Welcome-link-icon */

/* Подписаться */

/* Modalnoe okno */
