.container .info {
  padding: 0;
  margin-left: auto;
  display: flex;
}

.info .info__link {
  color: var(--title-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.02em;
  transition: var(--transition-duration) var(--timing-function);
  transition-property: color;
}

.info__link {
  margin-left: 30px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.info__link--tel {
  white-space: nowrap;
}

.info__icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
